body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 14px;
	background-color: #F0EFEF;
	color: #444;
}

code {
	background-color: #272822;
	display: block;
	color: #ddd;
	padding: 20px 0px;
}

#music {
	padding: 30px 0px;
	nav {
		margin-bottom: 20px;
		div {
			display: inline-block;
			background-color: #ccc;
			padding: 10px 16px;
			margin-right: 8px;
			border-radius: 3px;
			transition: background-color 300ms;
			&:hover {
				background-color: #b0c7e1;
			}
			&.viewActive{
				background-color: #b0c7e1;
			}
		}
	}
	.item {
		line-height: 24px;
		background-color: #ddd;
		padding: 3px 10px;
		margin: 1px;
	}
	.info {
		line-height: 26px;
		font-size: 16px;
		font-family: Consolas, monaco, monospace;
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid #aaa;
	}
}

.responsive {
	width: 50%;
	margin-left: 25%;
	@media (max-width: 1200px) {
		width: 70%;
		margin-left: 15%;
	}
	@media (max-width: 600px) {
		width: 90%;
		margin-left: 5%;
	}
}

#hello {
	padding: 30px 0px;
	height: 200px;
	.button {
		display: inline-block;
		background-color: #ccc;
		padding: 10px 16px;
		margin-right: 8px;
		border-radius: 3px;
		transition: background-color 300ms;
		&:hover {
			background-color: #b0c7e1;
		}
		&.viewActive{
			background-color: #b0c7e1;
		}
	}
	.message {
		margin-top: 10px;
		font-size: 20px;
	}
}

#dropdown {
	padding: 30px 0px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	#lable {
		padding: 10px;
		border: 1px solid #555;
		width: 200px;
		color: #222;
		background-color: #bbb;
	}
	a {
		width: 200px;
		display: block;
		text-decoration: none;
		color: inherit;
		padding: 10px;
		border: 1px solid #555;
		margin-top: -1px;
		transition: background-color 300ms;
		&:hover {
			background-color: #ddd;
		}
	}
}

